<h1>Update Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

    <label>Landmark Name:</label>
    <input type="text" name="landmark[name]" id="landmark_name" value="<%= @landmark.name %>"></input>
    <br></br>

    <label>Figure Title:</label>
    <% Title.all.each do |title| %>
    <input id="<%= title.name %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%='checked' if @figure.titles.include?(title) %>></input>

    <br></br>

    <label>Landmark Name:</label>
    <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%='checked' if @figure.landmarks.include?(landmark) %>></input>
    <% end %>
    <br></br>

    <input type="submit" value="Update Landmark>
